version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}  
    image: solidev-frontend:latest
    container_name: solidev-frontend
    env_file:
      - ./.env.local
    environment:
      - NODE_ENV=production
      - NEXT_TELEMETRY_DISABLED=1
      - PORT=3001
    ports:
      - "3001:3001"
    restart: always
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - SoliDevNet

  frontend-dev:
    profiles:
      - dev
    image: node:20-alpine
    working_dir: /app
    container_name: solidev-frontend-dev
    env_file:
      - ./.env.local
    environment:
      - NODE_ENV=development
      - NEXT_TELEMETRY_DISABLED=1
      - PORT=3001
    command: sh -c "npm install && npm run dev"
    ports:
      - "3001:3001"
    volumes:
      - .:/app
      - /app/node_modules
    extra_hosts:
      - "host.docker.internal:host-gateway"
